services:
  db:
    image: postgres:13
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=ml_app_db
    restart: always

  backend:
    build: ./backend
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=postgresql://user:password@db/ml_app_db
    depends_on:
      - db
    restart: on-failure

  frontend:
    build: ./frontend
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "3000:3000"
    environment:
      # این خط برای اطمینان از هات ریلود (Hot Reload) در برخی سیستم‌هاست
      - WATCHPACK_POLLING=true

volumes:
  postgres_data: