fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
passlib[bcrypt]
bcrypt==3.2.0
python-jose[cryptography]
python-multipart
pandas
openpyxl
scikit-learn
torch
torchvision
captcha
Pillow>=9.0.0
xgboost
matplotlib
seaborn
transformers
accelerate
datasets
timm
peft
psutil
# bitsandbytes
# mamba-ssm
# flash-attn
sentence-transformers
faiss-cpu
rank_bm25
pypdf
trl
pytest
pytest-cov
httpx
pytest-asyncio
pytest-mock
pyotp
